<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>dawn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A6600A881C7488B900B6C3EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6600AA41C7488B900B6C3EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6600AAF1C7488B900B6C3EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
